@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       body{
        background-color:#f5eee7;
        font-family: "Poppins", sans-serif;
        font-weight: 300;
       }

       .card{
        border: none;
       }

       .card-header {
            padding: .5rem 1rem;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
        }

        .btn-light:focus {
            color: #212529;
            background-color: #e2e6ea;
            border-color: #dae0e5;
            box-shadow: 0 0 0 0.2rem rgba(216,217,219,.5);
        }

        .form-control{
          height: 50px;
    border: 2px solid #eee;
    border-radius: 6px;
    font-size: 14px;
        }

        .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #039be5;
    outline: 0;
    box-shadow: none;

    }

    .input{

      position: relative;
    }

    .input i{

          position: absolute;
    top: 16px;
    left: 11px;
    color: #989898;
    }

    .input input{

      text-indent: 25px;
    }

    .card-text{

      font-size: 13px;
    margin-left: 6px;
    }

    .certificate-text{

      font-size: 12px;
    }

       
    .billing{
      font-size: 11px;
    }  

    .super-price{

          top: 0px;
    font-size: 22px;
    }

    .super-month{

          font-size: 11px;
    }


    .line{
      color: #bfbdbd;
    }

    .free-button{

          background: #1565c0;
    height: 52px;
    font-size: 15px;
    border-radius: 8px;
    }


    .payment-card-body{

    flex: 1 1 auto;
    padding: 24px 1rem !important;

    }

    @import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sniglet:wght@400;800&display=swap');

*{
    box-sizing: border-box;
}

.hover:hover{
  font-size: 1.2rem;
}


.cat:hover{
  background-color: black;
  color: white;
}
:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
    --light-gray: rgba(255, 255, 255, 0.877);
  }

  nav a {
    font-family: var(--Sniglet-font);
    font-size: 0.5em;
    color: whitesmoke;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  nav .nav-item:last-child {
    padding-right: 10.5em;
  }
  
  nav .nav-item {
    padding: 0.9em;
  }
  
  nav .navbar-brand {
    padding-left: 8rem;
  }
  
  nav .nav-link:hover {
    color: white;
  }
  
  nav .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 30vmin;
  }
  
  nav .row .col-md-5 {
    padding: 4.2vmin 1vmin;
  }
  
  nav .row .col-md-5 img {
    width: 94%;
    margin-top: -5rem;
  }
  
  nav {
    background: #ff512f;
    /* fallback for old browsers */
    background: var(--bggradient);
  }
  
  nav .container .col-md-7 {
    font-family: "Rubik", sans-serif;
  }
  
  nav .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
  }
  
  nav .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
  }
  
  nav .container .col-md-7 p {
    padding: 1vmin 5vmin;
  }
  
  .primary-btn {
    border-radius: 30px;
    font-weight: bold;
  }
  
nav img{
    height: 40px;
    width: 80px;
    margin-left: -7rem;
    margin-top: -1rem;
}

.bg-infos{
    background-color: #a2daf7;
    }